// app global css in SCSS form

body {
  background-image: url('../assets/img/bg-auth.png'); /* Caminho para sua imagem */
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem no fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  
}



